@page
@model IndexModel
@{
    ViewData["Title"] = "Slinks";
}

<section class="main-sc">
    <div>
        <h2 class="main-sc-txt">Сервіс коротких посилань</h2>
    </div>
    <form method="post">
        <div class="main-sc-url-div">
            <input class="url-input" type="url" id="originalUrl" placeholder="Вставте посилання для скорочення" required asp-for="OriginalUrl">
            <button type="submit" class="url-input-a">Готово</button>
        </div>
    </form>
</section>

<section class="history-sc" id="historySection">
    <div>
        <h3 class="history-h">Історія посилань</h3>
    </div>
    <div class="history-items-div" id="linksHistory">
    </div>
</section>